<section class="intro">
  <div class="intro-background">
    <img
      class="intro-circle top"
      src="../../../assets/images/circle-opacity.svg"
    />
    <img
      class="intro-circle bottom"
      src="../../../assets/images/circle-opacity.svg"
    />

    <div
      class="intro-isolation"
      style="background-image: url('../../../assets/images/Isolation.png')"
    ></div>

    <div class="intro_content">
      <h3 class="intro_content-title">{{ title }}</h3>
      <h3 class="intro_content-description">{{ description }}</h3>
      <p class="intro_content-content">{{ content }}</p>

      <div class="intro_content-actions row align-center justify-center">
        <button class="btn-color btn-primary">GET STARTED</button>
        <button class="btn-start row justify-center align-center">
          <app-svg-play class=""></app-svg-play>
        </button>
        <span>HOW IT WORKS</span>
      </div>
    </div>
  </div>
</section>
